.data-module {
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding: 12px;
  border: 1px solid #58B5BB;
  display: grid;
  background: #bce9ec;
}

h1 {
  text-align: center;
  color: #1a6ca6;
}

.data-module p {
  margin: 0;
}

.cta-button {
  margin: 0 auto;
  text-align: center;
  display: block;
  height: 44px;
  padding: 0 44px;
  background: #71c4e1;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms ease-out;
}

.cta-button:hover {
  background: #4a93ad;
}

.main {
  display: grid;
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: 25% 25% 25% 25%;
}
